#name{
background-color: Green;
  box-shadow: 0 -15px 20px 0 rgba(0,0,0,0.2);
}
  
div.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    display: inline-block;
    min-height: 500px;
    min-width:21.5%;
    max-width:22%;
    padding: 4px 4px;
    margin: 10px;
    background-color: white;
}

#Container {
    margin: 100px;
    background-color:white;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    background-color: crimson;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    border-radius: 20px;
    margin: 5px;
}

    li a:hover {
        background-color: #555;
        cursor: pointer;
    }

h1 {
    text-align: center;
    font-size: 300%;
    color: white;

  
}


body{

    background-color:navy;
}
div.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
    transition: all .5s ease-in-out;
    background-color: crimson;
}
